.App {
  text-align: center;
  margin-bottom: 58px;
  display: flex;
}

.ErrorMessage {
  margin: 40px 10px;
  font-size: 24px;
  text-align: center;
  color: orangered;
}

.page-view {
  min-width: 65%;
}

.page-holder {
  bottom: 58px;
  width: 100%;
  height: calc(100vh - 58px);
}