.notification {
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
  opacity: 0;
  z-index: 2;
  width: 72%;
  max-width: 360px;
  height: fit-content;
  min-height: 8%;
  max-height: 110px;
  left: 0;
  right: 0;
  top: 7%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  align-items: center;
  border: solid #1d1d1d 1px;
  background-color: rgba(30, 200, 220, 0.9);
}

.active {
  opacity: 1;
}

.success {
  background-color: rgba(1, 156, 102, 0.9);
}

.error {
  background-color: rgba(177, 60, 60, 0.9);
}
