.notification {
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
  opacity: 0;
  z-index: 2;
  width: 80%;
  max-width: 360px;
  height: fit-content;
  min-height: 9%;
  max-height: 100px;
  left: 0;
  right: 0;
  top: 7%;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  align-items: center;
  border: solid #939393 1px;
  border-radius: 5px;
  background-color: rgb(30, 200, 220);

  /* Font stuff */
  font-size: 24px;
  color: #3c3c3c;
}

.active {
  opacity: 1;
}

.success {
  background-color: rgb(1, 156, 102);
}

.error {
  background-color: rgb(177, 60, 60);
}
