.notification {
  transition-timing-function: ease-in;
  transition-duration: 0.4s;
  opacity: 0;
  display: none;
  z-index: 2;
  width: 85%;
  max-width: 380px;
  min-height: 9%;
  max-height: 100px;
  left: 0;
  right: 0;
  top: 7%;
  margin: auto;
  position: fixed;
}

.active {
  opacity: 1;
  display: initial;
}
