/* Import custom fonts here */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=fallback');

:root {
  /*noinspection CssUnknownTarget*/
  --backgroundImage:
          /* For custom background image */
          url(/api/page/common/static/background.png),
          /* Fall back to the default image */
          /* FIXME: use some better CDN */
          url(https://images.unsplash.com/photo-1525193612562-0ec53b0e5d7c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80);
}

body {
  background-color: black !important;
  min-height: 1050px;
  text-align: center; /* By default everything is centered */
  font-size: 100%; /* Increase/decrease font sizes here */
}

body::before {
  background: linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5) /* Change the url below to change the background image */
  ), var(--backgroundImage);
  background-position-y: center;
  background-position-x: right;
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-size: cover;
  width: 100%;
  height: 100vh;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

/* Generic class styles */

/* For example, "Campaigns", "Your Profile" etc page titles */
.page-title {
  color: #9b9bff;
  font-size: 28px;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 20px;
}

/* Numbers in the page title. E.g., number of rewards */
.page-title-amount {
  font-weight: normal;
}

.reward-title {
  color: #3c3c3c;
  font-size: 18px;
}

/* Common text on page. Usually on top of the background*/
.page-text {
  color: #d2d2d2;
  font-size: 20px;
}

/* Smaller text on top of the background. */
.page-small-text {
  color: #a2a2a2;
  font-size: 14px;
}

/* The customer points text (e.g., "+200 points") */
.text-points {
  color: rgb(41, 231, 8);
  font-size: 20px;
}

/** This class name is just used by the app to identify the element which user can click to prompt for enabling push notifications. */
.enable-notifications {
}

.user-form-disabled-item {
  background-color: #505050 !important
}
