.referral__dialog {
  position: fixed;
  left: 0;
  right: 0;
  margin: 100px auto;
  min-width: 300px;
  max-width: min(600px, 80%);
  text-align: center;
  padding: 18px 24px;
  border: 1px solid #bababa;
  border-radius: 5px;
  background-color: ghostwhite;
  color: #4b4b4b;
}

.referral__dialog-close {
  padding: 4px 8px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 5px;
  color: #6c6c6c;
}

.referral__copy-clipboard {
  padding: 2px 4px;
  border: solid #c6c6c6 1px;
  border-radius: 4px;
  font-size: 16px;
  color: #424242;
}

.referral__tooltip {
  max-width: fit-content;
  background-color: ghostwhite;
  border-radius: 10px;
  border: solid #b8b8b8 1px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 150px;
  margin: 0 auto;
  padding: 10px;
  color: #343434;
}
