/** Common */

.navlink {
  cursor: pointer;
  width: 100%;
}

/** Mobile */

.mobile-navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.mobile-navbar a {
  display: table-cell;
  color: #E0E0E0;
  text-align: center;
  text-decoration: none;
}

.mobile-navbar .active {
  border-bottom: #1976D2 solid 4px !important;
  color: black;
}

.mobile-navbar .active .pageIcon svg {
  fill: #ffffff;
}

.mobile-navbar .pageIcon svg {
  fill: #9e9e9e;
}

.navlink-mobile {
  border: solid #212121 1px;
  padding: 4px;
  height: 45px;
  display: table-cell;
  vertical-align: middle;
}

/** Desktop UI */

.desktop-navbar {
  margin: 5%;
  display: grid;
  height: fit-content;
  min-width: calc(270px + 3%);
  font-weight: bolder;
}

.desktop-navbar-container {
  position: fixed;
  min-width: 270px;
}

.desktop-navbar .active {
  border-radius: 5px 5px 0 0;
  background-color: rgba(238, 238, 243, 0.8);
  backdrop-filter: blur(10px);
}

.desktop-navbar .active span {
  color: #0b6fbf;
}

.desktop-navbar span {
  display: table-cell;
  text-decoration: inherit;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  margin-left: 12px;
  color: #647fac;
}

.desktop-navbar .active .pageIcon svg {
}

.desktop-navbar .pageIcon svg {
}

.navbar-logo {
  margin: 0 auto 30px auto
}

.navbar-hr {
  height: 1px;
  width: 100%;
  color: #dbdbdb;
  background-color: #dbdbdb;
  border: none;
}

.navlink-desktop {
  display: flex;
  text-decoration: none;
  font-size: 22px;
  margin: 10px;
  padding: 20px 20px 0 0;
  border-bottom: solid #959595 1px;
}

.navlink-page-name {
  text-transform: capitalize;
}
