.notification {
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
  opacity: 0;
  z-index: 2;
  width: 65%;
  height: 8%;
  left: 50%;
  top: 10%;
  max-width: 320px;
  max-height: 90px;
  position: absolute;
  display: flex;
  align-items: center;
  border: solid #1d1d1d 1px;
}

.active {
  opacity: 1;
}

.success {

}

.error {

}
